.downloadTableXlsButton{
    background-color: #e7ecec !important;
    padding: 10px 10px !important;
    border: none !important;
    color: #025f5c !important;
    font-size: 1rem !important;
    /* background: url("../../../assets/images/export-to-excel.png") no-repeat;
    background-size: contain;
    width: 100%!important; */
  }